/* :root {
  --color1: black;
  --color2: white;
  --logo: url("");
  --logo_alt: url("");
} */

body {
  margin: 0;
}

.nav {
  /* width: 100%; */
  padding-left: 30px;
  display: flex;
  height: 70px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
}

.nav img {
  width: 82px;
}

.hero-wrapper img {
  height: 50px;
}
